@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<CoreProject.EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Listesi</h1>

<table class="table table-bordered mt-2">
    <tr>
        <th>#</th>
        <th>K.Adı</th>
        <th>Pasif</th>
        <th>Aktif</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.CategoryName</td>
            <td><a href="/admin/category/delete/@item.Id" id="deletebtn" onclick="return confirm('Silmek istediğinize emin misniz?')" class="btn btn-warning">Pasif</a></td>
            <td><a href="#" class="btn btn-primary">Aktif</a></td>
            <td><a href="/admin/category/edit" class="btn btn-success">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/admin/category/add" class="btn btn-primary">Yeni kategori ekle</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new{page}))

