@model CoreProject.UI.Controllers.Class1
@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Çalışan Bilgilerini Düzenle</h1>
<form method="post">
    <label>Id</label>
    @Html.TextBoxFor(x=>x.Id, new{@class="form-control"})
    <label class="mt-2">Adı Soyadı</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <button class="btn btn-outline-success mt-2">Kaydet</button>
</form>

