
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">

	@await Html.PartialAsync("~/Views/Contact/ContactDetails.cshtml")

	<div class="container">
		<div class="contact_grid_right">
			<form  method="post">
				<div class="row contact_left_grid">
					<div class="col-md-6 con-left">
						<div class="form-group">
							<label for="validationCustom01 my-2">Name</label>
							<input class="form-control" type="text" name="UserName" placeholder="" required="">
						</div>
						<div class="form-group">
							<label for="exampleFormControlInput1">Email</label>
							<input class="form-control" type="email" name="Email" placeholder="" required="">
						</div>
						<div class="form-group">
							<label for="validationCustom03 my-2">Subject</label>
							<input class="form-control" type="text" name="Subject" placeholder="" required="">
						</div>
					</div>
					<div class="col-md-6 con-right">
						<div class="form-group">
							<label for="textarea">Message</label>
							<textarea id="textarea" name="Message" placeholder=""></textarea>
						</div>
						<input class="form-control" type="submit" value="Submit">

					</div>
				</div>
			</form>
		</div>
	</div>
</section>

