@model CoreProject.EntityLayer.Concrete.About

<h3>About US</h3>
	<p>@Model.Details.Substring(0,150)...</p>
<div class="read">
	<a href="/About/index" class="btn btn-primary read-m">Read More</a>
</div>
