
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <h3 class="text-danger"><a href="/Login/Index" class="mdi-link">Lütfen Login Sayfasına Gidiniz Yalnış Gİriş Yaptınız.</a></h3>
</body>
</html>
